{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Is It Streaming</title>
</head>
<body>
    <header>
        
        <nav>
            <a href="/"><h1 class="header-logo">Is It Streaming</h1></a> 

            <div class="header-search">
                <form method = "POST" action="{% url 'search_movie' %}" class="search">
                    {% csrf_token %}
                    <input type="text" name="query" placeholder="Search by title">
                    <button type="submit" id="button">Search</button>
                </form>
            </div>

            <ul class="nav-links">
                {% if user.is_authenticated %}
                <a href="{% url 'films' %}"><li>Films</li></a>
                <a href="{% url 'add_services' %}"><li>Services</li></a>
                <a href="{% url 'profile' %}"><li>{{user.username}}</li></a>
                <a href="{% url 'logout' %}"><li>Log Out</li></a>
                {% else %}
                <a href="{% url 'login' %}" class="left-margin"><li>Log In</li></a>
                <a href="{% url 'signup' %}"><li>Register</li></a>
                {%endif%}
            </ul>
        </nav>
    </header>

    <main>

         


        {% block content %}
        {% endblock %}
    </main>

    <footer>
    
    </footer>
</body>
</html>